<h1>Alvaro's awesome blog</h1>



<form action="/create_post" method="post">
	<div>
		<label for="the_title">Title</label>
		<input type="text" id="the_title" name="title">
	</div>
	<div>
		<label for="the_content">Content</label>
		<input type="text" id="the_content" name="content" size="50">
	</div>
		<div>
		<label for="the_category">Category</label>
		<input type="text" id="the_category" name="category" size="50">
	</div>
		<div>
		<label for="the_author">Author</label>
		<input type="text" id="the_author" name="category" size="50">
	</div>

	<button type="submit">
    Submit post
  	</button>
  </form>
